body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 80%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

a {
    margin: 5px;
}

input {
    margin: 5px;
    padding: 8px;
}
